<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active"></div>
        <div id="target" class="carousel-item">
            
        </div>
        <div class="carousel-item">
    
        </div>
          <div class="top-logo text-center">
        <img src="\assets\image\top-logo.png" alt="" >
         </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> 

<!--header-->

<nav class="navbar navbar-expand-lg  sticky-top" style="background: #fff;">
    <div class="container">
        <div class="header-logo">
      <img src="assets/image/header-logo.png">
    </div>
      <div class="find-wallpaper">
          <a class="find-wall">Find Your Wallpaper</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto w-100 justify-content-end">
      <li class="nav-item">
       <a class="nav-link" href="#">About Us</a>
     </li>
     <li class="nav-item">
     <a class="nav-link" href="#">Warranty</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="#">How it works</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Contacts</a>
     </li>
     <li class="nav-item">
    <a class="nav-link" href="#">Myth</a>
   </li>
   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      FAQ
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">How to hang wallpaper</a>
      <a class="dropdown-item" href="#">how to remove wallpaper</a>
      <a class="dropdown-item" href="#">Wallpaper installation questions</a>
    </div>
  </li>
</ul>
 
</div>
</div>
</nav>

<!--cards-->
<section class="cards">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-group">
<div class="card">
<img src="assets/image/card1.png" class="card-img-top" alt="...">

</div>
<div class="card">
<img src="assets/image/card3.png" class="card-img-top" alt="...">
<div class="card-img-overlay">
<h5 class="card-title">It’s Time For Wallpapers.</h5>
<p class="card-text">A great wallpaper doesn’t just decorate your home – it transforms it. Yet, many in India are yet to experience it’s full beauty. Stenna is the first to bring the wonders of wallpaper to India’s doorstep. And we take great care to ensure that our customers get the very best that wallpaper has to offer – by using high-quality, branded adhesives, fully eco-sensitive materials, and providing trained and certified installation experts.</p>
</div>

</div>
<div class="card">
<img src="assets/image/card2.png" class="card-img-top" alt="...">

</div>
</div>
        </div>
    </div>
</div>
</section>

<!--design collections-->

<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1>Design Collections</h1>
            </div>
            <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 4%;">
                <div class="hovereffect">
                    <img src="assets/image/time.png">
                    <div class="overlay">
                        <div class="content"><button type="button" class="btn btn-outline-light ">View</button></div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 4%;" >
                <div class="hovereffect">
                    <img src="assets/image/table.png">
                    <div class="overlay">
                        <div class="content"><button type="button" class="btn btn-outline-light ">View</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 4%;">
                <div class="hovereffect">
                    <img src="assets/image/kids-min.png">
                    <div class="overlay">
                        <div class="content"><button type="button" class="btn btn-outline-light ">View</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 4%;">
                <div class="hovereffect">
                    <img src="assets/image/geometric-min-min.png">
                    <div class="overlay">
                        <div class="content"><button type="button" class="btn btn-outline-light ">View</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 4%;">
                <div class="hovereffect">
                    <img src="assets/image/nature.png">
                    <div class="overlay">
                        <div class="content"><button type="button" class="btn btn-outline-light ">View</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12" style="padding-bottom: 4%;">
                <div class="hovereffect">
                    <img src="assets/image/plain.png">

                    <div class="overlay">
                        <div class="content"><button type="button" class="btn btn-outline-light ">View</button></div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!--why wallpapers-->

<section class="wallpapers">
    <div class="container my-5">
        <div class="row flex justify-content-between">
            <div class="col-md-6">
                <h2 class="heading">Why Wallpapers?</h2>
              <div class="row">
             <div class="col-md-6 p-2 text-center">
             <div class=" px-3" style="background: #7ACDC8;">
            <div class="mt-3">
          <i class="fa fa-heartbeat icons" aria-hidden="true" ></i>
          <p class="text-secondary">LONG LIFE</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 p-2 text-center">
      <div class=" px-3">
        <div class="mt-3">
          <i class="fa fa-diamond icons" aria-hidden="true"></i>
          <p class="text-secondary">WASHABLE</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 p-2 text-center">
      <div class="px-3">
        <div class="mt-3">
          <i class="fa fa-fire icons" aria-hidden="true"></i>
          <p class="text-secondary">FIRE-RESISTANT</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 p-2 text-center">
      <div class="px-3">
         <div class="mt-3">
          <i class="fa fa-tint icons" aria-hidden="true"></i>
          <p class="text-secondary">HYGIENIC</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 p-2 text-center">
      <div class="px-3">
        <div class="mt-3">
         <i class="fa fa-leaf icons" aria-hidden="true"></i>
          <p class="text-secondary">ECO-FRIENDLY</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 p-2 text-center">
      <div class="px-3">
        <div class="mt-3">
          <i class="fa fa-shield icons" aria-hidden="true"></i>
          <p class="text-secondary">SAFETY</p>
        </div>
      </div>
    </div> 
  </div>
  
</div>
         <div class="col-md-5">
           <div class="py-4">
             <h3>Long Life</h3>
              <p class="text">All Stenna wallpapers are made using PVC, giving the material high durability, and an eternal freshness. If maintained as per our guidelines, our wallpapers will keep your home looking new, inviting and unique – forever.</p>
          </div>
      </div>
   </div>
  </div>
</section>

<!--footer-->
<footer class="foot">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="link">
                        <li style="padding-left: 10%;font-family: 'Avenir-light'!important;
                        font-size: 12px;
                        color: #202020;
                        letter-spacing: 2.4px;
                        line-height: 22px;">About us</li>
                        <li style="padding-left: 10%;font-family: 'Avenir-light'!important;
                        font-size: 12px;
                        color: #202020;
                        letter-spacing: 2.4px;
                        line-height: 22px;">Myth</li>
                        <li style="padding-left: 10%;font-family: 'Avenir-light'!important;
                        font-size: 12px;
                        color: #202020;
                        letter-spacing: 2.4px;
                        line-height: 22px;">Contact Us</li>
                        <li style="padding-left: 10%;font-family: 'Avenir-light'!important;
                        font-size: 12px;
                        color: #202020;
                        letter-spacing: 2.4px;
                        line-height: 22px;">Privacy Policy</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 style="font-family: 'Avenir-Book';
                    font-size: 12px;
                    color: #202020;
                    letter-spacing: 2.4px;
                    text-align: right;
                    line-height: 22px;
                    padding-top: 5px;
                    box-sizing: border-box;
                    font-weight: 400;">© 2020, Stenna. All rights Reserved.</h4>
                </div>
            </div>
        </div>
    </div>
</footer>


  
